<!DOCTYPE html>
<html>
<head>
    <title>Quiz Time</title>
</head>
<body>
    <% questions.forEach((question, index) => { %>
        <p><%= index + 1 %>. <%= question.QuestionText %></p>
        <ol>
                <li><%= question.ChoiceA %></li>
                <li><%= question.ChoiceB %></li>
                <li><%= question.ChoiceC %></li>
                <li><%= question.ChoiceD %></li>
        </ol>
    <% }); %>
</body>
</html>
