<!DOCTYPE html>
<html>
<head>
    <title>Quiz Time</title>
</head>
<body>
    <form action="/submit-quiz" method="POST">
        <% questions.forEach((question, index) => { %>
            <p><%= index + 1 %>. <%= question.QuestionText %></p>
            <ol>
                <li>
                    <input type="radio" name="question<%= index %>" value="A" id="question<%= index %>A">
                    <label for="question<%= index %>A"><%= question.ChoiceA %></label>
                </li>
                <li>
                    <input type="radio" name="question<%= index %>" value="B" id="question<%= index %>B">
                    <label for="question<%= index %>B"><%= question.ChoiceB %></label>
                </li>
                <li>
                    <input type="radio" name="question<%= index %>" value="C" id="question<%= index %>C">
                    <label for="question<%= index %>C"><%= question.ChoiceC %></label>
                </li>
                <li>
                    <input type="radio" name="question<%= index %>" value="D" id="question<%= index %>D">
                    <label for="question<%= index %>D"><%= question.ChoiceD %></label>
                </li>
            </ol>
        <% }); %>
        <button type="submit">Submit Quiz</button>
    </form>
</body>
</html>
